p{
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
font-family: "EB Garamond", serif;
font-weight: 400;
font-size: 0.92em;
letter-spacing: -0.025em;
line-height: 0.9; 
text-align: center;
}

h1{
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
font-family: "EB Garamond", serif;
font-weight: 400;
font-size: 0.92em;
letter-spacing: -0.025em;
line-height: 0.9; 
text-align: center;
}

.body {
    background: solid;
    background-color: #f6f6f6 ;
}

a {
    outline: none;
    text-decoration:none; 
}
a:link {
    background: local;
    color: black;
}
a:visited {
    color: black;
}
a:focus {
    color: #f6f6f6;
    background-color: black;
}
a:hover {
    color: #f6f6f6;
    background-color: black;
}

/*Container Base*/
.container-0{
    display:flex;
    height:100%;
    width:100%;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary);
}

.container {
    margin-top: 1em;
    display: grid;
}

.text-center {
    z-index: 12;
    grid-area: 4 / 4 / 8 / 6;
    display: block;
}

.colonnes {
    column-count: 2;
    column-width: 100px;
    margin-top: 0.5em;
}

@page {
        marks: crop;
        @bottom-center {
            content: "Content";
        }
    }


@media print {
    
    @page {
        size: 17cm 27cm;
        margin-right: 0.6cm; 
        margin-left: 5cm; 
        bleed: 6mm;
        marks: crop;
        @bottom-center {
            content: "Content";
        }
    }

    .colonnes {
        column-count: 1;
        margin-top: 0.5em;
    }

    p{
        font-size: 1.2em;
        text-align: left;
        margin-left: 2.5cm;
        margin-right: 1.1cm;
    }

    h1{
        font-size: 1.2em;
        text-align: left;
        margin-bottom: 3cm;
        margin-left: 2.5cm;
    }

    body {
        break-after: page;
    }

    .container-0,
    .container {
        background: none
    }

    .text-content,
    .colophon-show {
        display: block;
    }

    .colophon-show {
        break-before: page;
        margin-top: 0;
    }

    .header,
    .footer,
    .langues {
        display: none;
    }

    
}